<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Ollivander Café</title>
</head>
<body>
    <h1>Solicitação de Recuperação de Senha Recebida</h1>
    <section>
        <h2><b>Esta é uma mensagem automática.</b></h2>
        <p>Sua solicitação de troca de senha foi recebida, para finalizar o processo,<br></p>
        <p>siga as instruções abaixo:</p>
        <p>01-Na tela do sistema de Ficha Técnica Ollivander clique em <b>Já tenho ID</b></p>
        <p>02-Informe o email</p>
        <p>03-Informe o CPF cadastrado</p>
        <p>04-Informe o ID <b th:text="${token}">token</b>, que expira em <b th:text="${validadeToken}">validadeToken</b></p>
        <p>05-Informe a nova senha</p>
        <p>06-Confirme a nova senha</p>
        <p>07-Clique em <b>Trocar Senha</b></p>
        <p>Um abraço</p>
        <p>Equipe Ollivander Café</p>
    </section>
</body>
</html>
